html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: gray;
}

#prompt {
  font-size: 5rem;
  margin: 20px 10px;
  text-align: center;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 20px;
  padding: 30px 30px;
  margin: 10px 20px;
  width: 25vw;
  border: black solid 3px;
  border-radius: 10px;
  background-color: aliceblue;
}

#parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 50px;
  padding: 30px 30px;
  margin: 10px 20px;
  width: 25vw;
  border: black solid 3px;
  border-radius: 10px;
}

.fact {
  font-size: 3rem;
  background-color: aliceblue;
}
